<div class="navbar-header">
  <div>
    <a class="logo" href="/home">Ask-Doctors</a>
  </div>

  <div>
    <nav class="navbar navbar-expand-lg nav-header">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home </a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="/products">products</a>-->
<!--          </li>-->
          <li class="nav-item">
            <a class="nav-link" href="/posts">Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/doctors">Doctors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item" *ngIf="this.user.isLogged">
            <a class="nav-link" href="/about">{{this.user.username}}</a>
          </li>
          <li class="nav-item" *ngIf="this.user.isLogged==true">
            <img nzSrc="{{this.user.picture}}" class="user-img" nz-image>

          </li>

          <li class="nav-item" *ngIf="this.user.isLogged">
            <a class="nav-link btn-login" (click)="logout()">
              <span class="material-symbols-outlined">logout</span>
            </a>
          </li>
          <li class="nav-item" *ngIf="!this.user.isLogged">
          <a class="nav-link btn-login" (click)="openDialogLogin('Sign in','Connect')">Login</a>
        </li>
          <li class="nav-item" *ngIf="!this.user.isLogged">
            <a class="nav-link btn-login" (click)="openDialogLogin('Sign up','Confirm')">Register</a>
          </li>


        </ul>

      </div>

    </nav>
  </div>


</div>

