.navbar-header {


  padding: 9px 50px;
  border-radius: 15px;
  display: flex;
  margin-bottom: 14px;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  background-color: white;
  font-weight: 600;
  font-family: inherit;


.logo{
  color: #001f3b;;

  font-size: 36px;
  font-family: 'Indie Flower', cursive;

}
.nav-header{
  a{
    color: #001f3b;;
    font-weight: 500;
    font-size: 17px;
  &:hover{
    color: #2da08f;
    transition: opacity 0.3s ease-in-out;
  }
  }

  .nav-item-space{
    padding: 0 12px;
  }
  .nav-items-img-logout{
    padding: 0px 0px 0px 35px
  }

  .btn-login:hover{
    cursor:pointer;
  }

}
}
.align-picture-profile{
  display: flex;
  align-items: center;
  padding-left: 10px;
  .user-img{
    object-fit: cover;
    width: 30px;
    height: 30px;
    border-radius: 33px;
  }
}

