.products-part {
  padding: 35px 0px;

  .search-add-product-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 60px 14px 60px;

    .search {
      box-shadow: #5d6466 2px 3px 14px 0px;

      border-radius: 10px;
      border: solid 1px #9b9b9b38;
    }

    .icon-search {
      color: #163d64;
    }

    .btn-pos {


      .btn-add-product {
        color: #163d64;
        padding: 6px 12px;
        font-size: 24px;
        font-weight: 500;
        border-radius: 19px;
        border: none;
      }
    }
  }

  .products {
    //display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    //justify-content: center;
    justify-content: space-evenly;

    .product {
      margin: 15px 0px;
      .btn-display {
          display: none;

        .btn-delete {
          border: none;
          color: #163d64;
          float: right;
          background-color: transparent;
          padding: 0px 6px 0px 0px;

        }
      }
    .product-position{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    }

    .product:hover {
      .btn-display {
        display: block;

      }
    }
.ng-star-inserted{
  justify-content: center;
  display: flex;
  align-items: center;
}


  }
  .pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 21px 0px;
    .ant-pagination-item-link{
     border: 2px solid black;
    }
    .anticon svg {
      color:red !important;
    }
  }

}
