.about {
  background-color: white;
  border-radius: 20px;
  .about-page1{
    display: flex;
    padding: 19px 19px;
    align-items: center;    .about-page1-img{
      img{
        width: 500px;
        height: 360px;
        object-fit: cover;
        border-radius: 80px;
        animation-name: fadeInLeft;
        animation-duration: 1.5s;
      }
    }
    .about-page1-text{
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      .about-text1 {
        font-size: 42px;
        line-height: normal;
        font-family: 'Roboto';
        text-align: center;
        padding: 20px 35px;
        color: #00213d;
        animation-name: fadeInRight;
        animation-duration: 1.5s;

        .subtext1 {
          color: #2da08f;
          font-weight: 700;
        }
      }
      .about-page1-text-butt{
      border: none;
        padding: 11px 37px;
        background-color: #f5bc54ed;
        color: white;
        font-weight: 500;
        font-size: 16px;
      border-radius: 18px;
        justify-content: center;
        display: flex;
        align-items: center;
    }
      .about-page1-text-butt:hover{
background-color: #f5bc54bf;
        transition: opacity 0.3s ease-in-out;

      }
    }
  }
  .part1 {
    .about-text1 {
      font-size: 45px;
      line-height: normal;
      font-family: 'Roboto';
      text-align: center;
      padding: 32px 35px;
      color: #00213d;

      .subtext1 {
        color: #b0c9e8;
      }
      .about-page1-text-butt {

      }
    }

    .about-text2 {
      font-size: 27px;
      color: #e5b7aa;
      line-height: normal;
      font-weight: 400;
    }

    .part1-1 {
      text-align: center;
    }
  }

  .separator {
    border-bottom: 2px solid #b0c9e8;

    text-align: center;
    align-items: center;
    padding:13px 0px;
    display: flex;
    margin: 0px 39%;

    justify-content: center;
  }

  .part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0px;

    .vision-mission {
      margin: 0px 10px;
      .vision-mission-img-text{
        display: flex;
        align-items: center;
        justify-content: center;
        .vision-mission-img {
          height: 60px;
          width: 60px;
          object-fit: contain;
        }
        p{
          color: #002039;
          margin: 0px;
          font-size: 18px;
          font-weight: 500;

        }
      }
      .vision-mission-txt{
        font-size: 20px;
        color: #b0c9e8;
        line-height: normal;
        text-align: center;
        font-weight: 500;
      }



    }
  }

  .title{
    text-align: center;
    font-size: 38px;
    padding: 36px 0px;
    color: #00213d;
  }
  .our-doctors{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;

    .docter-item{

      .test{
.doctor-border{
  border: none !important;
}
      }
    }
  }
}

