.posts-page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  justify-content: center;

  .left-side {
    width: 37%;
    padding: 13px 13px;
    background-color: white;
    margin: 0px 12px 0px 0px;
    height: 100vh;
    border-radius: 20px;
    display: flex;
    align-items: center;

    flex-direction: column;
    position: relative;

    .user-img-name {
      p {
        font-size: 16px;
        font-weight: 700;
        font-family: 'Roboto';
        padding-top: 13px;
      }

      .material-symbols-outlined {
        font-variation-settings: 'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
      }
    }

    img {
      object-fit: cover;
      width: 60px;
      height: 60px;
      border-radius: 33px;
    }

    ul {
      list-style-type: none;

      li {
        padding: 10px 0px;
        font-weight: 500;

        .item-label {
          font-weight: bold;
        }
      }

    }

    .edit-informations {
      background-color: transparent;

      color: #012039;
      padding: 0px;
      border: none;
      position: absolute;
      right: 0px;
      top: 0px;
      .edit-informations-icon{
        background-color: white;

      }

    }


  }

  .container-posts {
    width: 100%;

    .search-add-post-part {
      display: flex;
      background-color: white;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      border-radius: 20px;

      .search {
        border-radius: 20px;
        .search-input{
          outline: none;
        }

      }
      .icon-search{
        border: none;
        background-color: transparent;
      }

      .add-post {
        background-color: white;
        padding: 9px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .btn-add-post {
          border: none;
          background-color: #002b4b;
          color: #ffffff;
          padding: 8px 13px;
          font-weight: 500;
          border-radius: 14px;

        }

        .btn-add-post:hover {
          opacity: 0.8;

        }
      }
    }

  }

  .right-side {
    width: 30%;
    padding: 13px 13px;
    background-color: white;
    margin: 0px 0px 0px 12px;
    height: 100vh;
    border-radius: 20px;

    .rs-raiting {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 14px 0px;

    }

    .rs-question {
      border-bottom: 1px solid #b9b9b9;
      /* padding: 0px; */
      padding-bottom: 20px;


    }
    .talk-div{
      display: flex;
      align-items: center;
      justify-content: center;
      .talk-input{
        outline: none;
        border-radius: 18px;
        padding: 4px 11px;
        margin: 10px 6px 10px 0px;
        border: 1px solid #cfcccc;

      }
      .talk-input :focus-visible{
        //border:none;
        border-color: blue;
      }
      .icon-add-talk{
        border-radius: 20px;
        color: white;
        background-color: #00203b;
      }
      .icon-add-talk:hover{

        cursor: pointer;
      }
    }



    ul {
      list-style-type: none;
      padding: 0px;
      li{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    .check-item{
      display: flex;
      align-items: center;
      justify-content: space-between;
      input.check-item-input{
        width: 19px;
        height: 33px;
      }
    }
    img {
      object-fit: cover;
      width: 60px;
      height: 60px;
      border-radius: 33px;
    }
  }
}

