<div class="posts-page">


  <div class="left-side" *ngIf="this.user._id!=0">

    <div class="user-img-name">

      <img nzSrc="{{this.user.picture}}" class="user-img" nz-image >

      <p>{{this.user.username}}</p>

    </div>


    <ul >
      <li><label class="item-label">Username :</label> {{this.user.username}}</li>
      <li><label class="item-label">name :</label>{{this.user.name}}</li>
      <li><label class="item-label"> Description:</label> {{this.user.description}}</li>
<!--      <li><label class="item-label"> My posts:</label> {{this.user.description}}</li>-->

    </ul>
    <button class="edit-informations" (click)="openDialogLogin('Edit informations','Confirm')">
      Edit informations
    </button>
  </div>

  <div class="container-posts">
    <div class="search-add-post-part">
      <div>
        <nz-input-group [nzSuffix]="suffixIconSearch" class="search" >
          <input type="text" name="search" id="search"  nz-input placeholder="input search text"/>
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <button (click)="getPostsByKeywords()" class="icon-search">
            <i nz-icon nzType="search" ></i>
          </button>

        </ng-template>
      </div>
      <div class="add-post" *ngIf="this.user._id!=0">
        <button (click)="openDialogAddPost('Add post','Add',-1)" class="btn-add-post" *ngIf="isLogged">add post</button>
      </div>
    </div>


    <div *ngFor="  let item of postsData; let i=index">
      <app-post [title]="item.title"
                [message]="item.message"
                [name]="item.user.name"
                [picture]="item.user.picture"
                [date]="item.date"
                [_id]="item._id"
                [likes]="item.likes"
                [liked]="item.liked"
                [comments]="item.comments"




      ></app-post>

    </div>


  </div>
  <div class="right-side">
    <div class="rs-raiting">
      <h2>Add your feed </h2>
      <nz-rate [ngModel]="2.5" nzAllowHalf></nz-rate>
    </div>

    <p class="rs-question">You want us to talk about :</p>
    <div class="talk-div">
      <input type="text" class="talk-input" id="talk-input">
 <span class="material-symbols-outlined icon-add-talk"  (click)="addSubjectToTalk()"  >
add
</span>
    </div>




    <div *ngFor="  let item of talkData" class="check-item">


        <label for="{{item}}">   {{item}}</label>
      <input class="check-item-input" type="checkbox" id=" {{item}}" name="   {{item}}">
    </div>



</div>

</div>
