
  .global {
    //background-image: url("https://chorus.stimg.co/22530745/merlin_57006531.jpg?fit=crop&crop=faces");
    ////height: 100vh;
    //background-repeat: no-repeat;
    //background-position: center;
    //background-size: cover;
    //padding: 36px 0px;

    .container {
      padding-top: 22px;
      background-color: #b6b9b752;


      .example-spacer {
        flex: 1 1 auto;
      }
    }

  }




