.doctor{

  .doctor-img{
    border-radius: 158px;
    width: 150px !important;
    object-fit: cover;
    height: 150px !important;
    margin: 0 auto;
  }

.ant-card.ant-card-bordered.ant-card-hoverable{
  padding: 10px 0px;
}

}

