.doctor-container {
  position: relative;
  .doctor {
  .actions-post {
    position: absolute;
    z-index: 22;
    right: 0px;
    display: none;

    .btn-act {
      background-color: transparent;
      border: none;
      padding: 0px;
    }

  }
.doctor-border{
  border-radius: 20px;
    .name-description-doctor{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }}

    .doctor-img {
      border-radius: 158px;
      width: 150px !important;
      object-fit: cover;
      height: 150px !important;
      margin: 0 auto;
      &:hover{
        animation-name: rotateIn;
        animation-duration: 1.8s;
      }
    }

    .ant-card-meta-detail{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }
  }

  .ant-card.ant-card-bordered.ant-card-hoverable {
    padding: 10px 0px;
  }


.doctor:hover{
  .actions-post{
    display: block;
    animation-name: fadeIn;
    animation-duration: 1.8s;
  }
}}

