.doctor-container {
  position: relative;
  .doctor {
  .actions-post {
    position: absolute;
    z-index: 22;
    right: 0px;
    display: none;

    .btn-act {
      background-color: transparent;
      border: none;
      padding: 0px;
    }

  }




    .doctor-img {
      border-radius: 158px;
      width: 150px !important;
      object-fit: cover;
      height: 150px !important;
      margin: 0 auto;
    }
  }

  .ant-card.ant-card-bordered.ant-card-hoverable {
    padding: 10px 0px;
  }


.doctor:hover{
  .actions-post{
    display: block;
  }
}}

