<div class="home">

<!--  <div class="search-add-product-part">-->
<!--    <div >-->

<!--      <nz-input-group [nzSuffix]="suffixIconSearch" class="search">-->
<!--        <input type="text" nz-input placeholder="input search text" />-->
<!--      </nz-input-group>-->
<!--      <ng-template #suffixIconSearch>-->
<!--        <i nz-icon nzType="search" class="icon-search"></i>-->
<!--      </ng-template>-->
<!--    </div>-->
<!--    <div class="btn-pos">-->
<!--      <button  class="btn-add-product" >+</button>-->
<!--    </div>-->
<!--  </div>-->

<app-carousel></app-carousel>
<app-list-products></app-list-products>
<!--  <app-posts></app-posts>-->
</div>
