.
<mat-dialog-content class="mat-typography">
  <div class="form">

    <h2 mat-dialog-title> {{edit ? 'edit product ' : 'add product'}}</h2>

    <form class="form-center" [formGroup]="productForm" (submit)="edit ? editProduct(product._id) : addProduct(product)">


      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="title" matInput placeholder="title" [(ngModel)]="product.title" [value]="title" id="title">
      </mat-form-field>

      <mat-form-field appearance="outline" color="primary">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" [(ngModel)]="product.description" id="description"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" color="primary">
        <mat-label>Price</mat-label>
        <input matInput formControlName="price" [(ngModel)]="product.price" id="price">
      </mat-form-field>
      <mat-dialog-actions align="end" class="btns">
        <button mat-button mat-dialog-close class="btn-cancel" type="submit">Cancel</button>
        <button mat-button [mat-dialog-close]="true" type="submit" cdkFocusInitial class="btn-add">
          <!--                (click)="this.data? addProduct(product) : editProduct(product._id)"-->

          {{this.data ? 'Edit' : 'Add'}}
        </button>
      </mat-dialog-actions>
    </form>


  </div>

</mat-dialog-content>


