<p>profile works!</p>

<div class="information-user">
  <img nzSrc="{{userProfile.picture}}" class="user-img" nz-image>

  <p class="user-name">
    {{userProfile.name}}</p>
  <div class="more-info">
  <p class="user-description"><label class="title"> Description : </label>{{userProfile.description}}</p>
  <p class="user-description"><label class="title">  Speciality: </label>{{userProfile.speciality}}</p>
  </div>
  <div class="user-posts">
    <p>
      {{userProfile.posts}}
    </p>
  </div>
</div>

