<div class="post-container">

  <div class="user-name-img">
    <img class="user-img" nzSrc="{{picture}}" alt="{{title}}" nz-image>
    <p class="user-name"> {{name }}</p>
  </div>
  <div class="post">
    <div class="contenu-post">
      <p class="post-text title">{{title}}</p>
      <p class="post-text">{{message}}</p>
      <p class="post-text date">{{date}}</p>
      <img nzSrc="" class="post-img" nz-image>


    </div>

    <div class="actions-post" *ngIf="checkUser(_id)">
      <button (click)="openDialogAddPost('Edit post','edit',_id)">
      <span class="material-symbols-outlined">
      edit
      </span>
      </button>
      <button (click)="deletePost(_id)" nz-popconfirm nzPopconfirmTitle="Are you sure?" [nzPopconfirmShowArrow]="false">
      <span class="material-symbols-outlined">
        delete
        </span>
      </button>
    </div>

  </div>
  <div class="reactions-center">

    <div class="nb-reactions">
      <div class="nb-reactions-text"><p>{{getLikes()}} Likes</p></div>
      <div class="nb-reactions-text"><p>{{getDislikes()}} Dislikes</p></div>
      <div class="nb-reactions-text"><p>{{comments.length}} Comments</p></div>
      <p></p>
    </div>
    <!--  <app-reactions   ></app-reactions>-->
    <div class="reactions">
      <button (click)="addLike(_id,getIdUser())" class=" like dislike-color">
        <span class="material-symbols-outlined">
      thumb_up
      </span>
      </button>
      <button (click)="addDislike(_id,getIdUser())" class="like">
    <span class="material-symbols-outlined">
thumb_down
</span>
      </button>
      <span class="material-symbols-outlined" (click)="displayComments()">
comment
</span>


    </div>

  </div>
  <div *ngFor="  let item of comments">


    <div class="comments-container" *ngIf="this._isShown">
      <div class="comments">
        <div class="comment">
          <app-comment
            [subject]="item.subject" [id]="item._id" [date]="item.date" [user]="item.user">
          </app-comment>
        </div>
      </div>
      <div class="add-comment" *ngIf="user._id!=0">
        <app-add-comment [id]="item._id"
        ></app-add-comment>
      </div>
    </div>
  </div>

</div>
